{% extends 'teacher/base.html' %}

{% block title %}
Profesor
{% endblock %}

{% block content %}

<h1>Grupos</h1>

<p>

<table class="table">
    <thead>
    <tr>
    <th>Curso</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    {% for g in groups %}
    <tr>
        <td>
        <a href="{{url_for('list_teacher',course_id=g.course_id)}}">{{g.course_id}}</a>
        </td>
        <td>
        <a href="{{url_for('course_modify_teacher',course_id=g.course_id)}}"><i class="fi-xnsuxl-settings-solid"></i></a>
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</p>

{% endblock %}
