{% extends 'admin/base.html' %}

{% block title %}
Assistencia
{% endblock %}

{% block content %}


<h1>Estudiantes</h1>

<a class="button is-primary" hx-get="{{url_for('api.attendance_list',course_id=course_id,date=date,random=True)}}" hx-trigger="click" hx-target="#lista" >Random order</a>


<p>
<table class="table">
    <thead>
    <tr>
    <th>Nombre</th>
    <th>Presente</th>
    <th>Ausente</th>
    <th>Retardo</th>
    <th>Justificado</th>
    <th>Status</th>
    </tr>
    </thead>
    <tbody id="lista" hx-get="{{url_for('api.attendance_list',course_id=course_id,date=date)}}" hx-trigger="load">
    </tbody>
</table>
</p>

{% endblock %}
